<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="quizMapping" class="utility.QuizMappingImpl">
    </bean>
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="bundle"/>
    </bean>
    <bean id="quizService" class="service.QuizServiceImpl">
        <constructor-arg name="quizMapping" ref="quizMapping"/>
        <constructor-arg name="messageSource" ref="messageSource"/>
    </bean>
</beans>